<div class="container">
        <div class="row d-flex justify-content-center mb-5">
            <h1>Pomodoro</h1>
        </div>  

        <div class="row ">  
            <div class="col-md-12 d-flex justify-content-center">
                <h3>Work Time</h3>
            </div>

            <div class="col-md-12 d-flex justify-content-center mb-4">
                {{workMinutesString}}:{{workSecondsString}}
            </div>  
            
            <div class="col-md-12 d-flex justify-content-center">
                <h3>Rest Time</h3>
            </div>

            <div class="col-md-12 d-flex justify-content-center mb-4">
                {{restMinutesString}}:{{restSecondsString}}
            </div> 
        </div>
        
        
        <div class="row d-flex justify-content-center">     
            <button type="button" class="btn btn-light mr-3" (click)="start()">Start</button>
            <button type="button" class="btn btn-info" (click)="pause()">Pause</button>
        </div>
</div>